html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  box-sizing: border-box;
  overflow-y: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}
