html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  box-sizing: border-box;
  overflow-y: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Exact scrollbar styling */
html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-track {
  background: #f5f5f5;
}
html::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}