html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
