.component-wrapper-dashboard{
display: grid;
grid-template-columns: 2fr 1fr; /* First column takes twice as much space as the second */
gap: 20px;
padding: 20px;
height: calc(100vh - 100px);
width: 100%;
background-color: #EFEFEF;
box-sizing: border-box;
}