.component-wrapper-dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Readings take up more space */
  height: calc(100vh - 100px);
  width: 100%;
  gap: 24px;
  padding: 5px 24px;
  margin-top: 15px;
  background-color: #EFEFEF;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Responsive layout for smaller screens */
@media (max-width: 900px) {
  .component-wrapper-dashboard {
    grid-template-columns: 1fr; /* Stack components on top of each other */
  }
}