.device-status{
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.testing-device-table{
    background-color: #FFFFFF;
    border: 2px solid #767676;
    flex-grow: 1;
    min-height: 50%;
    width: 100%;
}
.table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.table-title p{
    font-size: 1em;
    font-weight: bold;
    color: hsl(0, 0%, 23%);
}
.table-icon{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.table-icon button{
    background: none;
    border: none;
    padding: 0 10px 10px 0;
    margin: 0;
    cursor: pointer;
}
.table-icon .Menu{
    cursor: pointer;
}
.search-box {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 15vw;
  height: 3.5vh;
}
.menu-container {
  position: relative;
}
.menu-icon {
  cursor: pointer;
}
.menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 10;
}
.menu-option {
  padding: 5px;
  cursor: pointer;
}
#active{
    color: #50AE5B;
}
#inactive{
    color: #ff0000;
}
#maintenance{
    color: #ffa500;
}
.menu-option:hover {
  background-color: #f0f0f0;
}

.menu-option-clear {
  padding: 5px;
  cursor: pointer;
}

.menu-option-clear:hover {
  background-color: #f8d7da;
}
.device-table{
    height: 85%;
    width: 100%;
    overflow: scroll;
    background-color: #FFFFFF;
}
.device-table table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.device-table table th , td{
    border-bottom: 1px solid #4A4A4A;
    padding: 10px 0;
    text-align: center;
}
.device-table table th{
    color: hsla(0, 0%, 18%, 0.603);
    font-size: 1rem;
}
.device-table table td{
    font-size: 1rem
}
.logs-container{
    background-color: #ffffff;
    border: 2px solid #767676;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.logs-container button{
    border-radius: 20px;
    border: none;
    background-color: #50AE5B;
    color: #FFFFFF;
    width: 30%;
    height: 40px;
     transition: 0.3s ease;
    box-shadow: 0 2px 10px #363636;
}
.logs-container button:hover{
    background-color: #6cbb76;
}