.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    padding: 15px;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #EFEFEF;
    box-sizing: border-box;
    gap: 15px;
}