.container {
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 15px;
}
.right-pane{
    display: flex;
}
.search-box{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 13vw;
    height: 3.5vh;
}
.menu-container{
    padding-right: 5px;
}
.set-clock{
    padding-right: 5px;
}
.table{
    height: 85%;
    width: 100%;
    overflow: scroll;
    background-color: #FFFFFF;
    margin: 0;
}
.table table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.table table th , td{
    border-bottom: 1px solid #4A4A4A;
    padding: 10px 0;
    text-align: center;
}
.table table th{
    color: hsla(0, 0%, 18%, 0.603);
    font-size: 1rem;
}
.table table td{
    font-size: 1rem;
    padding: 0;
}