
.readings-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.readings{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.readings-title{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.readings-title p{
    font-size: 1rem;
}
.readings-title a{
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
}
.readings-diagram{
    height: 25vh;
    width: 25vw;
    align-self: center;
    text-align: center;
}
.min-max{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.min-max p{
    font-size: 1rem;
    font-weight: 600;
    color: #4A4A4A;
}
.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
}
