
.readings-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.readings{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 2px solid #767676;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.readings-title{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.readings-title p{
    font-size: 1rem;
}
.readings-title a{
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
}
.readings-diagram{
    background-color: cyan;
    height: 25vh;
    width: 25vw;
    align-self: center;
    text-align: center;
}
.min-max{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.min-max p{
    font-size: 1rem;
    font-weight: 600;
    color: #4A4A4A;
}