.component-wrapper-dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  height: calc(100vh - 100px);
  width: 100%;
  gap: 24px;
  padding: 5px 24px;
  margin-top: 10px;
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* Responsive layout for smaller screens */
@media (max-width: 900px) {
  .component-wrapper-dashboard {
    /* Stacks the components vertically */
    grid-template-columns: 1fr; 
  }

  /* This targets the first component in the JSX (<Readings>) */
  .component-wrapper-dashboard > :nth-child(1) {
    /* And moves it to the second row visually */
    grid-row: 2;
  }

  /* This targets the second component (<DeviceStatus>) */
  .component-wrapper-dashboard > :nth-child(2) {
    /* And moves it to the first row visually */
    grid-row: 1;
  }
}

@media (max-width: 1399px) {
  .component-wrapper-dashboard{
    gap: 15px;
  }
}

/* Exact scrollbar styling */
.component-wrapper-dashboard::-webkit-scrollbar {
  width: 6px;
}
.component-wrapper-dashboard::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.component-wrapper-dashboard::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}