
.component-wrapper-navigation{
    margin-top: 63px;
    max-width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;
}

.navigation{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 5px;
    background-color: white;
    font-weight: lighter;
    height: 100%;
    width: 225px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;
}

.nav-link{
    text-decoration: none;
    color: #2f2f2f;
}

.navigation:hover{
    font-weight: 600;
    color: #0097E6;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.nav-link.active .navigation {
    color: white;
    background-color: #0097E6;
    font-weight: 600;
}

@media (min-width: 1440px) {
    .navigation{
        width: 240px;
    }
  
}

@media (min-width: 1600px) {
    .navigation{
        width: 275px;
    }
  
}

@media (min-width: 1800px) {
    .navigation{
        width: 300px;
    }
  
}

@media (min-width: 1900px) {
    .navigation{
        width: 330px;
    }
  
}