.container{
    height: calc(100vh - 100px);
    width: 100%;
    padding: 20px;
}
.tabs {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    overflow-x: auto; /* Enable horizontal scrolling for tabs on small screens */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.tabs::-webkit-scrollbar { /* Hide scrollbar for Chrome/Safari */
    display: none;
}

.tabButton {
    flex-shrink: 0; /* Prevent buttons from shrinking */
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #888;
    position: relative;
    outline: none;
    transition: color 0.3s ease;
    white-space: nowrap; /* Keep tab text on one line */
    font-weight: 600;
}

.tabButton:hover {
    color: #555;
}

.activeTab {
    color: #1a73e8; /* Blue color for active tab */
    font-weight: 600;
}

.activeTab::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1a73e8; /* Blue underline for active tab */
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .logsContainer {
        margin: 20px; /* Smaller margin on smaller screens */
        padding: 15px;
    }

    .title {
        font-size: 20px;
    }

    .tabButton {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .logsContainer {
        margin: 10px;
        padding: 10px;
    }
}